.dark-high-contrast {
  --color-background: rgb(26 17 14);
  --color-error-container: rgb(255 174 164);
  --color-error: rgb(255 236 233);
  --color-inverse-on-surface: rgb(0 0 0);
  --color-inverse-primary: rgb(115 55 29);
  --color-inverse-surface: rgb(241 223 217);
  --color-on-background: rgb(241 223 217);
  --color-on-error-container: rgb(34 0 1);
  --color-on-error: rgb(0 0 0);
  --color-on-primary-container: rgb(28 5 0);
  --color-on-primary-fixed-variant: rgb(37 8 0);
  --color-on-primary-fixed: rgb(0 0 0);
  --color-on-primary: rgb(0 0 0);
  --color-on-secondary-container: rgb(24 6 2);
  --color-on-secondary-fixed-variant: rgb(32 12 4);
  --color-on-secondary-fixed: rgb(0 0 0);
  --color-on-secondary: rgb(0 0 0);
  --color-on-surface-variant: rgb(255 255 255);
  --color-on-surface: rgb(255 255 255);
  --color-on-tertiary-container: rgb(14 11 0);
  --color-on-tertiary-fixed-variant: rgb(21 17 0);
  --color-on-tertiary-fixed: rgb(0 0 0);
  --color-on-tertiary: rgb(0 0 0);
  --color-outline-variant: rgb(212 190 182);
  --color-outline: rgb(255 236 230);
  --color-primary-container: rgb(255 176 144);
  --color-primary-fixed-dim: rgb(255 181 152);
  --color-primary-fixed: rgb(255 219 206);
  --color-primary: rgb(255 236 230);
  --color-scrim: rgb(0 0 0);
  --color-secondary-container: rgb(226 186 170);
  --color-secondary-fixed-dim: rgb(231 190 174);
  --color-secondary-fixed: rgb(255 219 206);
  --color-secondary: rgb(255 236 230);
  --color-shadow: rgb(0 0 0);
  --color-surface-bright: rgb(90 77 73);
  --color-surface-container-high: rgb(68 57 53);
  --color-surface-container-highest: rgb(80 68 64);
  --color-surface-container-low: rgb(39 30 26);
  --color-surface-container-lowest: rgb(0 0 0);
  --color-surface-container: rgb(56 46 42);
  --color-surface-dim: rgb(26 17 14);
  --color-surface-tint: rgb(255 181 152);
  --color-surface-variant: rgb(83 67 62);
  --color-surface: rgb(26 17 14);
  --color-tertiary-container: rgb(207 195 139);
  --color-tertiary-fixed-dim: rgb(211 199 142);
  --color-tertiary-fixed: rgb(240 227 168);
  --color-tertiary: rgb(254 241 181);
}
