.light-high-contrast {
  --color-background: rgb(255 248 246);
  --color-error-container: rgb(152 0 10);
  --color-error: rgb(96 0 4);
  --color-inverse-on-surface: rgb(255 255 255);
  --color-inverse-primary: rgb(255 181 152);
  --color-inverse-surface: rgb(56 46 42);
  --color-on-background: rgb(35 26 22);
  --color-on-error-container: rgb(255 255 255);
  --color-on-error: rgb(255 255 255);
  --color-on-primary-container: rgb(255 255 255);
  --color-on-primary-fixed-variant: rgb(255 255 255);
  --color-on-primary-fixed: rgb(255 255 255);
  --color-on-primary: rgb(255 255 255);
  --color-on-secondary-container: rgb(255 255 255);
  --color-on-secondary-fixed-variant: rgb(255 255 255);
  --color-on-secondary-fixed: rgb(255 255 255);
  --color-on-secondary: rgb(255 255 255);
  --color-on-surface-variant: rgb(0 0 0);
  --color-on-surface: rgb(0 0 0);
  --color-on-tertiary-container: rgb(255 255 255);
  --color-on-tertiary-fixed-variant: rgb(255 255 255);
  --color-on-tertiary-fixed: rgb(255 255 255);
  --color-on-tertiary: rgb(255 255 255);
  --color-outline-variant: rgb(85 70 64);
  --color-outline: rgb(54 41 36);
  --color-primary-container: rgb(116 56 30);
  --color-primary-fixed-dim: rgb(88 35 9);
  --color-primary-fixed: rgb(116 56 30);
  --color-primary: rgb(79 28 4);
  --color-scrim: rgb(0 0 0);
  --color-secondary-container: rgb(95 66 55);
  --color-secondary-fixed-dim: rgb(70 44 34);
  --color-secondary-fixed: rgb(95 66 55);
  --color-secondary: rgb(63 38 28);
  --color-shadow: rgb(0 0 0);
  --color-surface-bright: rgb(255 248 246);
  --color-surface-container-high: rgb(226 209 203);
  --color-surface-container-highest: rgb(212 195 189);
  --color-surface-container-low: rgb(255 237 231);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container: rgb(241 223 217);
  --color-surface-dim: rgb(198 181 176);
  --color-surface-tint: rgb(142 77 48);
  --color-surface-variant: rgb(245 222 214);
  --color-surface: rgb(255 248 246);
  --color-tertiary-container: rgb(81 73 29);
  --color-tertiary-fixed-dim: rgb(58 51 8);
  --color-tertiary-fixed: rgb(81 73 29);
  --color-tertiary: rgb(51 44 3);
}
