.light {
  --color-background: rgb(255 248 246);
  --color-error-container: rgb(255 218 214);
  --color-error: rgb(186 26 26);
  --color-inverse-on-surface: rgb(255 237 231);
  --color-inverse-primary: rgb(255 181 152);
  --color-inverse-surface: rgb(56 46 42);
  --color-on-background: rgb(35 26 22);
  --color-on-error-container: rgb(147 0 10);
  --color-on-error: rgb(255 255 255);
  --color-on-primary-container: rgb(113 54 27);
  --color-on-primary-fixed-variant: rgb(113 54 27);
  --color-on-primary-fixed: rgb(54 15 0);
  --color-on-primary: rgb(255 255 255);
  --color-on-secondary-container: rgb(93 64 52);
  --color-on-secondary-fixed-variant: rgb(93 64 52);
  --color-on-secondary-fixed: rgb(44 22 12);
  --color-on-secondary: rgb(255 255 255);
  --color-on-surface-variant: rgb(83 67 62);
  --color-on-surface: rgb(35 26 22);
  --color-on-tertiary-container: rgb(79 71 27);
  --color-on-tertiary-fixed-variant: rgb(79 71 27);
  --color-on-tertiary-fixed: rgb(33 28 0);
  --color-on-tertiary: rgb(255 255 255);
  --color-outline-variant: rgb(216 194 186);
  --color-outline: rgb(133 115 109);
  --color-primary-container: rgb(255 219 206);
  --color-primary-fixed-dim: rgb(255 181 152);
  --color-primary-fixed: rgb(255 219 206);
  --color-primary: rgb(142 77 48);
  --color-scrim: rgb(0 0 0);
  --color-secondary-container: rgb(255 219 206);
  --color-secondary-fixed-dim: rgb(231 190 174);
  --color-secondary-fixed: rgb(255 219 206);
  --color-secondary: rgb(119 87 75);
  --color-shadow: rgb(0 0 0);
  --color-surface-bright: rgb(255 248 246);
  --color-surface-container-high: rgb(246 228 222);
  --color-surface-container-highest: rgb(241 223 217);
  --color-surface-container-low: rgb(255 241 236);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container: rgb(252 234 228);
  --color-surface-dim: rgb(232 214 208);
  --color-surface-tint: rgb(142 77 48);
  --color-surface-variant: rgb(245 222 214);
  --color-surface: rgb(255 248 246);
  --color-tertiary-container: rgb(240 227 168);
  --color-tertiary-fixed-dim: rgb(211 199 142);
  --color-tertiary-fixed: rgb(240 227 168);
  --color-tertiary: rgb(104 95 48);
}
