.light-medium-contrast {
  --color-background: rgb(255 248 246);
  --color-error-container: rgb(207 44 39);
  --color-error: rgb(116 0 6);
  --color-inverse-on-surface: rgb(255 237 231);
  --color-inverse-primary: rgb(255 181 152);
  --color-inverse-surface: rgb(56 46 42);
  --color-on-background: rgb(35 26 22);
  --color-on-error-container: rgb(255 255 255);
  --color-on-error: rgb(255 255 255);
  --color-on-primary-container: rgb(255 255 255);
  --color-on-primary-fixed-variant: rgb(255 255 255);
  --color-on-primary-fixed: rgb(255 255 255);
  --color-on-primary: rgb(255 255 255);
  --color-on-secondary-container: rgb(255 255 255);
  --color-on-secondary-fixed-variant: rgb(255 255 255);
  --color-on-secondary-fixed: rgb(255 255 255);
  --color-on-secondary: rgb(255 255 255);
  --color-on-surface-variant: rgb(65 51 46);
  --color-on-surface: rgb(23 15 12);
  --color-on-tertiary-container: rgb(255 255 255);
  --color-on-tertiary-fixed-variant: rgb(255 255 255);
  --color-on-tertiary-fixed: rgb(255 255 255);
  --color-on-tertiary: rgb(255 255 255);
  --color-outline-variant: rgb(123 105 99);
  --color-outline: rgb(95 79 73);
  --color-primary-container: rgb(160 91 61);
  --color-primary-fixed-dim: rgb(130 67 40);
  --color-primary-fixed: rgb(160 91 61);
  --color-primary: rgb(92 38 13);
  --color-scrim: rgb(0 0 0);
  --color-secondary-container: rgb(135 102 89);
  --color-secondary-fixed-dim: rgb(108 78 66);
  --color-secondary-fixed: rgb(135 102 89);
  --color-secondary: rgb(74 48 37);
  --color-shadow: rgb(0 0 0);
  --color-surface-bright: rgb(255 248 246);
  --color-surface-container-high: rgb(235 217 211);
  --color-surface-container-highest: rgb(223 206 200);
  --color-surface-container-low: rgb(255 241 236);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container: rgb(246 228 222);
  --color-surface-dim: rgb(212 195 189);
  --color-surface-tint: rgb(142 77 48);
  --color-surface-variant: rgb(245 222 214);
  --color-surface: rgb(255 248 246);
  --color-tertiary-container: rgb(119 109 61);
  --color-tertiary-fixed-dim: rgb(94 85 39);
  --color-tertiary-fixed: rgb(119 109 61);
  --color-tertiary: rgb(62 54 11);
}
